@import "../../common/common.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px $primary-color;
    gap: 1rem;

    nav {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
        form {
            display: flex;
            flex-wrap: wrap;

            input {
                border: 1px solid $orange;
                border-radius: .2rem;
                background: transparent;
                padding: 0.3rem;

                &:focus {
                    outline: none;
                    color: white;
                }
            }
            button {
                padding: 0.3rem;
                border: 1px solid $orange;
                background: transparent;
                transition: 0.2s ease-in-out;
                cursor: pointer;

                &:hover {
                    background: rgba(255, 166, 0, 0.25);
                }
            }
        }
    }
}
