$purple: #5f34dd;
$orange: #ff8c2e;
$secondary-orange: #ff8c2ea3;
$primary-color: rgba(245, 245, 245, 0.89);;


.logo {
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: -4px;
    color: $orange;
}